.heroimg{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}
.heroimg::before{
    content: "";
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroimg h1{
    font-size: 2.4rem;
}
.heroimg p{
    font-size: 1.4rem;
    text-align: center;
}
@media screen and (max-width:640px) {
    .heroimg h1{
        font-size: 2rem;
    }
}